.experience {

    &__block {
        display: flex;
        margin-bottom: 265px;
        align-items: center;
        position: relative;
    }

    &__img {
        width: 520px;
        height: 624px;
    }

    &__text {
        padding-left: 70px;
    }

    &__subtitle {
        text-align: left;
    }

    &__title {
        text-align: left;
    }

    &__list {
        margin-top: 15px;
    }

    &__list li{
        position: relative;
        background: url(../images/star.png) 0 25px/14px 14px no-repeat;
        width: 470px;
        padding-left: 35px;
        padding-top: 25px;
    }

    &__shadow {
        top: -300px;
        right: -700px;
    }
}