html,
body {
	height: 100%;
}

.wrapper {
	overflow: hidden;
}

body {
	overflow-x: hidden;
}

h1 {
	font: $FONT_HEADING;
	font-size: 75px;
	line-height: 130%;
}

h2 {
	font: $FONT_HEADING;
}

h3 {
	font: $FONT_HEADING;
	font-size: 25px;
	line-height: 140%;
}

h4 {
	font: $FONT_TITLE;
	font-size: 18px;
}

.title {
	color: $COLOR_MAIN;
	text-align: center;
}

.text {
	font: $FONT_PARAGRAPH;
	color: $COLOR_MAIN;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
	width: 271px;
    padding: 21px 28px 18px 28px;
	display: flex;
	justify-content: center;
    text-decoration: none;
    border-radius: 100px;
	font: $FONT_TITLE;
	margin: 0 auto;
	cursor: pointer;
	white-space: nowrap;

	&_main {
		background: #A273B0;
		color: #fff;
	}
	&_main:hover {
		background-color: #855B92;
		border-color: white;
	}
	&_side {
		border: 2px solid #A273B0;
		background: #fff;
		color: #A273B0;
	}
	&_side:hover {
		background: #A273B0;
		border-color: white;
		color: #fff;
	}
	&_side:active {
		background-color: #855B92;
		border-color: white;
	}
}
.text-block {
	display: flex;
	gap: 20px;
	text-align: center;
}

.text-box {
	border: 1px solid #8581BC;
	border-radius: 30px;
}

.blue-cam {
	position: relative;
	display: flex;
	justify-content: center;
}

.blue-cam:before {
	content:'';
	background: url(../images/blue_camera.png) 0 0/100% 100% no-repeat;
	position: absolute;
	left: -45px;
	top: -70px;
	width: 79px;
	height: 58px;
}

.orange-cam {
	position: relative;
	margin-left: -79px;
	display: flex;
	justify-content: center;
	position: relative;
}

.orange-cam:before {
	content:'';
	background: url(../images/orange_camera.png) 0 0/100% 100% no-repeat;
	position: relative;
	left: 25px;
	top: -60px;
	width: 79px;
	height: 58px;
}

.orange-arrow {
	position: relative;
	margin-left: -25px;
	display: flex;
	justify-content: center;
	position: relative;
}

.orange-arrow:before {
	content:'';
	background: url(../images/orange_arrow.png) 0 0/100% 100% no-repeat;
	position: relative;
	left: 30px;
	top: 60px;
	width: 25px;
	height: 50px;
}

.white-arrow {
	position: relative;
	margin-left: -25px;
	display: flex;
	justify-content: center;
}

.white-arrow:before {
	content:'';
	background: url(../images/white_arrow.png) 0 0/100% 100% no-repeat;
	position: absolute;
	left: 10px;
	top: 200px;
	width: 31px;
	height: 61px;
}

.orange-curve-arrow {
	position: relative;
	margin-left: -33px;
	display: flex;
	justify-content: center;
	position: relative;
}

.orange-curve-arrow:before {
	content:'';
	background: url(../images/orange_curve_arrow.png) 0 0/100% 100% no-repeat;
	position: relative;
	left: 0px;
	top: 40px;
	width: 33px;
	height: 57px;
}

.orange-marks {
	position: relative;
	margin-left: 30px;
	display: flex;
	justify-content: center;
	position: relative;
}

.orange-marks:after {
	content:'';
	background: url(../images/orange_marks.png) 0 0/100% 100% no-repeat;
	position: relative;
	left: -60px;
	top: -80px;
	width: 60px;
	height: 98px;
}

.lavander-arrow {
	position: relative;
	margin-left: 16px;
	display: flex;
	justify-content: center;
	position: relative;
}

.lavander-arrow:after {
	content:'';
	background: url(../images/lavander_arrow.png) 0 0/100% 100% no-repeat;
	position: relative;
	left: -80px;
	top: 90px;
	min-width: 33px;
	height: 65px;
}

.little-lavander-arrow {
	position: relative;
	margin-left: 16px;
	display: flex;
	justify-content: center;
	position: relative;
}

.little-lavander-arrow:after {
	content:'';
	background: url(../images/lavander_arrow.png) 0 0/100% 100% no-repeat;
	position: relative;
	left: -30px;
	top: 70px;
	min-width: 33px;
	height: 65px;
}

.art-cam {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	position: relative;
}

.art-cam:before {
	content:'';
	background: url(../images/art_cam_1.png) 0 0/100% 100% no-repeat;
	position: absolute;
	left: 170px;
	top: -40px;
	width: 73px;
	height: 60px;
}

.art-cam:after {
	content:'';
	background: url(../images/art_cam_2.png) 0 0/100% 100% no-repeat;
	position: absolute;
	right: -50px;
	bottom: -40px;
	width: 92px;
	height: 53px;
}

.shadow {
    position: absolute;
	width: 702px;
	height: 702px;
	background: rgba(135, 130, 212, 0.25);
	filter: blur(100px);
}

.shadow__pattern {
	width: 254px;
	height: 173px;
}