.header {
    position: relative;

    &__logo {
        width: 185px;
        height: 47px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    &__links {
        display: flex;
        gap: 33px;
    }

    &__link {
        display: flex;
        align-items: center;
    }
    
    &__link:hover {
        opacity: 0.8;
    }

    &__home:hover {
        opacity: 0.8;
    }

    &__shadow {
        top: -300px;
        right: -300px;
    }

    &__pattern {
        position: absolute;
        width: 254px;
        height: 173px;
        top: 0;
        right: 0;
    }
}