.portfolio-photo {
    padding-bottom: 150px;
    padding-top: 200px;
    position: relative;

    &_bg {
        background-color: #F3F3F3;
    }

    &__title {
        width: 840px;
        margin: 0 auto;
        margin-bottom: 80px;
        display: block;
        position: relative;
    }
    &__title:last-child {
        margin-bottom: 64px;
    }
    &__title_highlighting {
        display: inline;
        color: #F7A636;
    }
    &__title_highlighting-video {
        display: inline;
        color: #8581BC;
    }
    &__text {
        margin-bottom: 100px;
        text-align: center;
    }
    &__slider {
        margin-bottom: 40px;
    }
    
    &__sub {
        width: 800px;
        margin: 120px auto 40px;
    }

    &__shadow {
        top: 800px;
        left: -300px;
    }

}