.programs {
    margin-bottom: 213px;
    position: relative;

    &__title {
        margin-bottom: 129px;
    }

    &__authors {
        display: flex;
        justify-content: space-around;
    }

    &__author {
        width: 430px;
    }

    &__shadow {
		left: -400px;
		top: -100px;
        z-index: -1;
	}
}

.author {

    &__img {
        margin: 0 auto;
    }

    &__name {
        font: normal 800 18px/140% "Montserrat", sans-serif;
        color: $COLOR_MAIN;
        border: 7px solid #29305B;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 28px 12px 27px;
        background: #fff;
        margin-bottom: 55px;
    }

    &__name-male {
        position: relative;
        margin-top: -53px;
    }

    &__name-female {
        position: relative;
        margin-top: -20px;
    }

    &__specs {
        padding-left: 40px;
    }

    &__specs-title {
        text-align: left;
    }

    &__specs-list {
        margin-bottom: 30px;
    }

    &__specs-item {
        position: relative;
        background: url(../images/star.png) 0 25px/14px 14px no-repeat;
        padding-left: 35px;
        padding-top: 25px;
    }

    &__btn {
        margin-bottom: 20px;
        margin-left: 40px;
    }

    &__name-male:after {
        content: '';
        position: absolute;
        background: url(../images/orange_inst.png) 0 0/100% 100% no-repeat;
        width: 99px;
        height: 99px;
        top: 15px;
        right: -45px;
    }

    &__name-female:after {
        content: '';
        position: absolute;
        background: url(../images/blue_inst.png) 0 0/100% 100% no-repeat;
        width: 99px;
        height: 99px;
        top: 15px;
        right: -45px;
    }
}
